{% extends "base.html" %}

{% block content %}
<div class="mr-5 p-5">
    <h1>Zoo: Free the animals!</h1>
    <button class="start-comp-btn btn btn-primary">start comp</button>
    <button class="stop-comp-btn btn btn-danger">stop comp</button>
    <table class="table table-bordered border-danger">
        <thead>
            <tr>
                <th scope="col" class="col-1">
                    Service / Team
                    <a href="{% url 'team-create' %}" class="btn btn-secondary">create</a>
                </th>
                {% for team in teams %}
                <th scope="col" class="col-5">
                    {{ team.name }}
                    <a href="{% url 'team-update' pk=team.id %}" class="btn btn-secondary">edit</a>
                    <a href="{% url 'team-delete' pk=team.id %}" class="btn btn-danger">delete</a>
                </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for service, team_services in services %}
            <tr>
                <th scope="row">
                    {{ service.name }}
                    <a href="{% url 'service-update' pk=service.id %}" class="btn btn-secondary">edit</a>
                    <a href="{% url 'service-delete' pk=service.id %}" class="btn btn-danger">delete</a>
                </th>
                {% for team_service in team_services %}
                    {% if team_service and team_service.newest_check %}
                        {% if team_service.newest_check.is_up %}
                            <td style="background-color: rgba(0,255,0, 0.5) !important;">
                                <p>Up</p>
                                <a href="{% url 'team-service-update' pk=team_service.id %}" class="btn btn-secondary">edit</a>
                                <a href="{% url 'team-service-delete' pk=team_service.id %}" class="btn btn-danger">delete</a>
                            </td>
                        {% else %}
                            {% if team_service.down_checks >= 5 %}
                                <td style="background-color: rgba(255,0,0, 0.5) !important;">
                                    <p>Down: {{ team_service.newest_check.status }}</p>
                                    <a href="{% url 'team-service-update' pk=team_service.id %}" class="btn btn-secondary">edit</a>
                                    <a href="{% url 'team-service-delete' pk=team_service.id %}" class="btn btn-danger">delete</a>
                                </td>
                            {% else %}
                                <td style="background-color: rgba(255,255,0, 0.5) !important;">
                                    <p>Down for {{ team_service.down_checks }} checks: {{ team_service.newest_check.status }}</p>
                                    <a href="{% url 'team-service-update' pk=team_service.id %}" class="btn btn-secondary">edit</a>
                                    <a href="{% url 'team-service-delete' pk=team_service.id %}" class="btn btn-danger">delete</a>
                                </td>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <td style="background-color: rgba(255,255,0, 0.5) !important;">
                            <p>N/A</p>
                            <a href="{% url 'team-service-update' pk=team_service.id %}" class="btn btn-secondary">edit</a>
                            <a href="{% url 'team-service-delete' pk=team_service.id %}" class="btn btn-danger">delete</a>
                        </td>
                    {% endif %}
                    
                {% endfor %}
            </tr>
            {% endfor %}
            <tr>
                <th scope="row">
                    <h2>Score</h2>
                </th>
                {% for team in teams %}
                <td>
                    <h2>{{ team.score }}/{{ team.max_score }}</h2>
                </td>
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">
                    <a href="{% url 'service-create' %}" class="btn btn-secondary">create</a>
                </th>
                {% for team in teams %}
                <td>
                    <a href="{% url 'team-service-create' %}" class="btn btn-secondary">create</a>
                </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function() {
        $('.start-comp-btn').click(function() {
            $.ajax({
                url: '{% url 'start-comp' %}',
                type: 'POST',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                }
            });
        });
        $('.stop-comp-btn').click(function() {
            $.ajax({
                url: '{% url 'stop-comp' %}',
                type: 'POST',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                }
            });
        });
    });
    setInterval(function(){
        window.location.reload();
    }, 20000);
</script>
{%endblock%}